:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-secondary-shadow: rgba(0, 0, 0, 0.16);
    --color-light-grey: #A5A5A5;
    --color-black: #000;
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-grey: #A5A5A5;
    --color-white: #FFFFFF;
    --primary-font-family: 'Open Sans', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font-family);
}

/*** FIRST SECTION ***/
/* HEADER */

.first-section {
    width: 100%;
    box-shadow: 0 0.3rem 0.6rem var(--color-secondary-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 135.2rem;
}

.first-section-header.container {
    padding: 1.9rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headers {
    font-family: 'Raleway', sans-serif;
    font-size: 3.6rem;
}

.logo {
    color: var(--color-primary);
    font-size: 3.2rem;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    line-height: 3.7rem;
}

.first-section-nav {
    padding: 0 13.6rem;
}

.header-menu {
    display: flex;
    gap: 9.5rem;
    word-spacing: 0.328rem;
    text-transform: uppercase;
    border: transparent;
    letter-spacing: 0.1875rem;
}

.nav-link {
    color: var(--color-light-grey);
    font-weight: 700;
    border-bottom: 0.4rem solid transparent;
    text-transform: uppercase;
    padding: 2.8rem 1.8rem 2.2rem;
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.nav-link:hover {
    color: var(--color-black);
    border-bottom: 0.4rem solid var(--color-primary);
}


/* SECOND SECTION */

.second-section {
   text-align: center;
}
.second-header {
    font-size: 4.9rem;
    padding: 13rem 0 2rem 0;
    line-height: 5.7rem;
}
.second-section-content {
    line-height: 2.2rem;
}
.content-text {
    font-size: 1.6rem;
    padding-bottom: 6rem;
}

.btn {
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 2.2rem 15.7rem 2.3rem 15.7rem; /* nie wiem czy nie pojdzie do first-section-bn*/
    box-shadow: 0.5rem 1rem 1.4rem var(--color-primary-shadow);
    font-weight: 700;

}

.btn:hover {
    color: var(--color-black);
}

.first-section-btn {
    border-radius: 4rem;
    line-height: 2.2rem;

}
.photo-img {
    width: 100%;
    background-position: center bottom;
    padding-top: 1.5rem;
}

/*** THIRD SECTION ***/

.third-section {
    padding: 10rem 0 15rem 0;

}

.third-header {
    text-align: center;
    padding-bottom: 10rem;
    line-height: 4.2rem;
}

.third-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18.4rem;
    padding-bottom: 12.1rem;

}

.third-section-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.third-section-num {
    padding-bottom: 1.905rem;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.6rem;
}

.third-section-num {
    font-weight: 800;
    padding-top: 1.4rem;
}

.third-section-text {
    line-height: 2rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    color: var(--color-light-grey);
}

.circle-box {
    position: relative;
    border-radius : 50%;
    width: 6.3rem;
    height: 6.3rem;
    background: var(--color-redish);
}

.third-section-img {
  position: absolute;
   left: 3rem;
    bottom: 1rem;
}

.third-section-img.special {
    position: absolute;
    left: 3rem;
    bottom: 1.4rem;
}


/* dokonczyc stylowanie */


